.login_container{
   min-height: 50vh;
   min-width: 30vw;
   background-color: white;
   border-radius: 5px;
   box-shadow: 0 0 5px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   position: relative;
}
.login{
    position: absolute;
    top: 70px;
}
.login_form{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login-input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.login-input-container label{
     width: 150px;
    text-align: right;
    font-weight: 500;
}

.login-input-container input{
       flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-btn{
      margin-top: 15px;
    padding: 10px;
    background-color: rgb(146, 226, 146);
    color: white;

    border-radius: 5px;
    border: none;
    cursor: pointer;

    transition: transform 0.3s , background-color 0.3s;
}


.login-btn:hover{
      background-color: rgb(57, 161, 57);
      transform: scale(1.09);
}
