*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App_container{
   width: 100vw;
   height: calc(100vh - 60px);
  background-color: rgb(227, 143, 143);
  
  display: flex;
   justify-content: center;
   align-items: center;
   
  

}